.main-header {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 80px;
}

.search-bar {
    width: 718px;
    border: 0;
    border-bottom: 1px solid;
    color: #7a7a7a;
    outline: none;
}

.search-btn {
    background: none;
    font-size: 0;
    border: none;
    background-image: url('../../assets/images/search-icon.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    right: 390px;
    position: absolute;
}

.account {
    font-size: 13px;
    padding-left: 23px;
    font-weight: 400;
    color: #7a7a7a;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.account:before {
    background-image: url('../../assets/images/user-icon.png.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.minicart {
    font-size: 10px;
    border-radius: 50%;
    background-color: #F8475F;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}

.minicart:before {
    position: absolute;
    background-image: url('../../assets/images/minicart-icon.png');
    background-repeat: no-repeat;
    content: "";
    width: 18px;
    height: 18px;
    bottom: 0;
    right: 20px;
}