.banner .slick-dots {
    bottom: 25px;
}

.banner .slick-dots li {
    width: 19px;
    margin: 0px;
}

.banner .slick-dots li button:before {
    font-size: 10px;
    opacity: 1;
    color: #bdbdbd;
    line-height: 17px;
}

.banner .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #F8475F;
}